
.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    color: #2d2e46
}

.wrapper {
    width: 400px;
    /*height: 220px;*/
    background: #f9f9fe;
    border-radius: 8px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    padding: 22px 24px 30px;

}

.bold {
    font-weight: bold;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 17px;
}

.title {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #092A61;
    margin-top: 10px;
}

.content {
    padding: 0 10px;
}

.text {
    opacity: 0.5;
    text-align: left;
}

.deleteItemText {
    color: #001f4c;
}

.questionBody {
    text-align: start;
}

.input {
    width: 100%;
    background-color: #f9f9fe;
    border: none;
    border-bottom: solid 1px rgba(36, 37, 74, 0.2);
    margin-left: 5px;
    outline: none;
    margin-bottom: 36px;
    color: #092a61;
}


.wrapBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btnCancel {
    width: 124px;
    height: 36px;
    background: #d3dce7;
    color: #092a61;
    border-radius: 30px;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btnCancel:hover {
    background: #d3e6e7;
}

.mainButton {
    width: 127px;
    height: 36px;
    border-radius: 30px;
    color: #f9f9fe;
    background-color: #092a61;
    cursor: pointer;
}

.mainButton:hover {
    background: #0c418e;
}

.deleteButton {
    width: 127px;
    height: 36px;
    border-radius: 30px;
    color: #f9f9fe;
    background-color: #f03e36;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #e4554e;
}

