.search {
    padding: 15px 0;
}

.searchInput {
    width: 50%;
    height: 36px;
    background: #ecf6f8;
    opacity: 0.5;
    border: 1px solid #092A61;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 20px 6px 40px;
    position: relative;

}
